# Node.js dependencies
node_modules

# Build output
dist

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.*

# IDE and editor files
.vscode/
*.swp
*.swo
*.swn

# Operating System files
.DS_Store
Thumbs.db
